{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static "css/landing.css" %}" />
  </head>
  <body>
    <main>
      <section class="hero">
        <h1>SocialHub</h1>
      </section>
      <section class="parent-container">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </section>
    </main>
  </body>
</html>
