{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="{% static "css/register.css" %}" />
  </head>
  <body>
    <main>
      <section class="hero">
        <h1>SocialHub</h1>
      </section>
      <section class="parent-container">
        <div class="child-container">
          {% if messages %} 
            {% for message in messages %}
              <div>{{ message }}</div>
            {% endfor %} 
          {% endif %}
          <div class="titles">
            <h1>Register</h1>
            <p>Already Have an Account? <a href="{% url "login" %}">Log In</a></p>
          </div>
          <form method="post" id="form-container">
          {% csrf_token %} 
            <div class="name-container">
              <input
                type="text"
                name="first_name"
                id="fname"
                placeholder="First Name"
                required
              />
              <input
                type="text"
                name="last_name"
                id="lname"
                placeholder="Last Name"
                required
              />
            </div>
            <div class="username-container">
              <input
                type="text"
                name="username"
                id="username"
                placeholder="Username"
                required
              />
            </div>
            <div class="email-container">
              <input
                type="text"
                name="email"
                id="email"
                placeholder="E-mail"
                required
              />
            </div>
            <div class="password-container">
              <input
                type="password"
                name="password"
                id="password"
                class="password"
                placeholder="Password"
                required
              />
            </div>
            <div class="password-container">
              <input
                type="password"
                name="confirm_password"
                id="confirm-password"
                class="password"
                placeholder="Confirm Password"
                required
              />
            </div>
            <button type="submit" class="register-button">Register</button>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
