{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="" method="post">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="first-name-container">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name">
        </div>
        <div class="last-name-container">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name">
        </div>
        <div class="username-container">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="email-container">
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="password-container">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="confirm-password-container">
            <label for="password">Password:</label>
            <input type="password" name="confirm_password" id="confirm_password">
        </div>
        <button>Register</button>
   </form> 
</body>
</html>