@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #0d6efd;
}

main {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titles {
  width: 100%;
}

.titles > h1 {
  font-weight: 400;
  font-size: 2rem;
}

.parent-container {
  padding: 30px;
  min-width: 300px;
  min-height: 500px;
  background-color: white;
  border-radius: 20px;
}

.child-container {
  padding-block: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

input {
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(192, 192, 192);
  padding: 4px;
  padding-left: 10px;
}

#fname, #lname, #email, #username, .password {
  height: 50px;
  width: 100%;
  font-size: medium;
}

.name-container {
  gap: 1rem;
}

.username-container, .password-container, .email-container, .name-container {
  display: flex;
  justify-content: center;
  padding-block: 5px;
  width: 100%;
}

#form-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.register-button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.5rem;
  background-color: #0d6efd;
}

.register-button:hover {
  background-color: rgb(238, 130, 47);
  transition: background-color 0.2s ease-in-out;
}

.hero > h1 {
  color: white;
  font-size: 4rem;
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }
}
