{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      SocialHub -{% block title %}
        Home
      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    {% comment %}Font family{% endcomment %}
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      * {
        font-family: 'Poppins', sans-serif;
      }

      .nav-link.active,
      .feed-link.active {
        background-color: goldenrod; /* Change background color as needed */
      }
      
      .animate {
        animation-name: animate_menu;
        animation-duration: 0.3s;
        overflow: hidden;
        animation-timing-function: linear;
      }
      @keyframes animate_menu {
        0% {
          height: 0px;
        }
        100% {
          height: 120px;
        }
      }
    </style>

    <script src="https://cdn.tailwindcss.com"></script>
    {% comment %}fontawesome cdn{% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body class="bg-slate-200 h-screen bg-gradient-to-r from-blue-300 to-purple-300">
    <header class="p-3 h-[15vh] fixed top-0 w-full z-10">
      <div id="top" class="bg-white rounded-tl-[2.5rem] rounded-tr-[2.5rem] flex justify-between p-5 px-20">
        <div id="logo" class="flex items-center">
          <h1 class="text-2xl font-bold text-red-500"><i class="fa-brands fa-gg-circle"></i> Social<span class="text-red-500">Hub</span></h1>
        </div>
        <div>
          <p class="text-lg text-gray-700">Bringing the world closer, one post at a time.</p>
        </div>
        <div id="profile" class="flex items-center gap-6">
          <a href="/{{ user.username }}/notifications/" class="text-gray-700 hover:text-blue-500">
            <div id="notification" class="h-9 w-9 rounded-full bg-gradient-to-r from-yellow-400 to-red-500 p-1 flex justify-center items-center">
              <i class="fa-solid fa-bell text-white"></i>
            </div>
          </a>
          <a href="/{{ user.username }}/chat/" class="text-gray-700 hover:text-green-500">
            <div id="chat" class="h-9 w-9 rounded-full bg-gradient-to-r from-purple-400 to-pink-500 p-1 flex justify-center items-center">
              <i class="fa-solid fa-message text-white"></i>
            </div>
          </a>
          <div id="profile-pic" class="h-9 w-9 rounded-full bg-gradient-to-r from-blue-400 to-cyan-500 overflow-hidden">
            <a href="/{{ user.username }}/my_profile/"><img class="rounded-full" src="{{ user_profile.profile_pic.url }}" alt="" /></a>
          </div>
        </div>
      </div>
    </header>

    <main class="p-3 relative flex mt-[15vh]">
      {% comment %}side nav{% endcomment %}
      <section id="navigation" class="h-[80vh] w-[20vw] flex flex-col justify-between pl-10 gap-14 pb-10 fixed left-6">
        <nav class="flex flex-col gap-3">
          <a class="nav-link text-lg flex items-center gap-3 p-2 hover:bg-red-300 rounded-3xl w-44 hover:scale-[1.1] duration-150" href="/{{ user.username }}/home">
            <span class="h-9 w-9 rounded-full bg-gradient-to-r from-purple-400 to-pink-500 p-1 flex justify-center items-center"><i class="fa-solid fa-house"></i></span>
            <span>Home</span>
          </a>
          <a class="nav-link text-lg flex items-center gap-3 p-2 hover:bg-red-300 rounded-3xl w-44 hover:scale-[1.1] duration-150" href="/{{ user.username }}/search">
            <span class="h-9 w-9 rounded-full bg-gradient-to-r from-green-400 to-blue-500 p-1 flex justify-center items-center"><i class="fa-solid fa-magnifying-glass"></i></span>
            <span>Explore</span>
          </a>
          <a class="nav-link text-lg flex items-center gap-3 p-2 hover:bg-red-300 rounded-3xl w-44 hover:scale-[1.1] duration-150" href="/{{ user.username }}/my_posts">
            <span class="h-9 w-9 rounded-full bg-gradient-to-r from-yellow-400 to-orange-500 p-1 flex justify-center items-center"><i class="fa-solid fa-people-group"></i></span>
            <span>My Posts</span>
          </a>
          <a class="nav-link text-lg flex items-center gap-3 p-2 hover:bg-red-300 rounded-3xl w-44 hover:scale-[1.1] duration-150" href="/{{ user.username }}/my_profile/">
            <span class="h-9 w-9 rounded-full bg-gradient-to-r from-indigo-400 to-purple-500 p-1 flex justify-center items-center"><i class="fa-solid fa-floppy-disk"></i></span>
            <span>My Profile</span>
          </a>
          <a class="nav-link text-lg flex items-center gap-3 p-2 hover:bg-red-300 rounded-3xl w-44 hover:scale-[1.1] duration-150" href="/{{ user.username }}/create_post">
            <span class="h-9 w-9 rounded-full bg-gradient-to-r from-cyan-400 to-teal-500 p-1 flex justify-center items-center"><i class="fa-solid fa-square-plus"></i></span>
            <span>Create Post</span>
          </a>

          <div class="relative inline-block">
            <button id="dropdownToggle" class="text-white bg-gradient-to-r from-blue-500 to-purple-500 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded inline-flex items-center">
              <span>Feeds</span>
              <svg class="h-4 w-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414z" clip-rule="evenodd" />
              </svg>
            </button>
            <div id="dropdownMenu" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 transition duration-300 transform origin-top">
              <a href="/{{ user.username }}/entertainment_feeds" onclick="entertainment()" class="feed-link block px-4 py-2 text-gray-800 hover:bg-gray-200">Entertainment</a>
              <a href="/{{ user.username }}/education_feeds" onclick="education()" id="education" class="feed-link block px-4 py-2 text-gray-800 hover:bg-gray-200">Education</a>
              <a href="/{{ user.username }}/foods_feeds" onclick="food()" id="foods" class="feed-link block px-4 py-2 text-gray-800 hover:bg-gray-200">Food</a>
            </div>
          </div>
        </nav>
        <div id="logout">
          <a class="active_page flex items-center gap-3 p-2 hover:bg-red-300 rounded-3xl w-44 hover:scale-[1.1] duration-150" href="{% url 'logout' %}">
            <span class="h-9 w-9 rounded-full bg-gradient-to-r from-red-400 to-pink-500 p-1 flex justify-center items-center"><i class="text-white fa-solid fa-right-from-bracket"></i></span>
            <span>Logout</span>
          </a>
        </div>
      </section>

      <section class="ml-[23vw] w-[45vw] flex flex-col">
        {% block content %}
          {% if posts %}
            {% for post in posts %}
              <div data-aos="fade-in" class="post-card  bg-gradient-to-br from-purple-400 to-pink-500 text-white rounded-3xl shadow-lg p-6 mb-8">
                <div class="flex items-center mb-2">
                  {% for posting_user in all_users %}
                    {% if post.author.username == posting_user.user.username %}
                      <img src="{{ posting_user.profile_pic.url }}" alt="{{ post.author.username }}" class="w-12 h-12 rounded-full mr-4" />
                    {% endif %}
                  {% endfor %}
                  <div>
                    <h2 class="text-lg font-semibold">{{ post.author.username }}</h2>
                    <p class="text-sm">{{ post.pub_date|timesince }} ago</p>
                  </div>
                </div>
                <div id="texts" class="my-6">
                  <h3 class="text-2xl font-normal">{{ post.title }}</h3>
                  <p class="text-sm mb-2">{{ post.content|truncatechars:50 }}</p>
                </div>
                {% if post.image %}
                  <img src="{{ post.image.url }}" alt="{{ post.title }} image" class="w-full mb-4 rounded-lg" />
                {% endif %}
                <div class="interaction-buttons flex flex-row justify-between items-center">
                  <div class="like-container flex items-center space-x-2">
                    {% for like in likes %}
                      {% if like.post.id == post.id %}
                        <span class="text-xl flex flex-row gap-2">
                          <a href="/{{ post.id }}/like_post/"><i class="fa-solid fa-heart text-red-300"></i></a>
                          {{ post.likes_count }}
                        </span>
                      {% endif %}
                    {% endfor %}
                    <span class="text-xl flex flex-row gap-2">
                      <a href="/{{ post.id }}/like_post/"><i class="fa-regular fa-heart text-white hover:text-red-300"></i></a>
                      {{ post.likes_count }}
                    </span>
                  </div>
                  <div
                    id="comment-button-container"
                    onclick="
                                if(this.parentNode.nextElementSibling.style.display == 'block'){
                                  this.parentNode.nextElementSibling.style.display = 'none';
                                } else {
                                  this.parentNode.nextElementSibling.style.display = 'block';
                                }
                              "
                  >
                    <i id="comment-button" class="fa-regular fa-comment-dots text-xl hover:text-yellow-300"></i>
                  </div>
                </div>
                <div id="post-card-content" class="comment-section mt-4 hidden">
                  <ul class="max-h-36 overflow-y-scroll">
                    {% for comment in comments %}
                      {% if comment.post.id == post.id %}
                        <div class="flex space-x-2 mb-2">
                          <div class="flex-shrink-0">
                            {% for commenting_user in all_users %}
                              {% if comment.author.username == commenting_user.user.username %}
                                <img src="{{ commenting_user.profile_pic.url }}" alt="{{ comment.author.username }}" class="w-8 h-8 rounded-full" />
                              {% endif %}
                            {% endfor %}
                          </div>
                          <div class="w-full flex flex-row justify-between">
                            <div>
                              <span class="font-semibold">{{ comment.author.username }}</span>
                              <p class="text-sm">{{ comment.content }}</p>
                            </div>
                            <span class="text-xs">{{ comment.created_at|timesince }} ago</span>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </ul>
                  <div class="mt-4">
                    <form action="/{{ post.id }}/comment_post/" method="POST">
                      {% csrf_token %}
                      <input type="text" name="content" id="content" class="w-full bg-gradient-to-r from-green-200 to-blue-300  px-5 py-3 rounded-3xl text-black outline-none" placeholder="Write a comment..." />
                      <button type="submit" class="bg-yellow-400 text-white px-4 py-1 rounded-3xl hover:bg-yellow-500 mt-2">Comment</button>
                    </form>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="text-white">No posts available</div>
          {% endif %}
        {% endblock %}
      </section>

      <section id="right_most" class="w-[30vw] pl-20 h-[80vh] ">
        <h2 class="text-teal-900 text-xl font-semibold mb-2">Followings</h2>
        <div class="bg-white p-5 rounded-lg mb-5">
          {% if following_profiles %}
            {% for following_profile in following_profiles %}
              <div class="w-full flex bg-blue-200 px-4 py-4 rounded-md mb-5">
                <div class="h-9 w-9 object-top rounded-full bg-purple-400 overflow-hidden">
                  <img class="rounded-full" src="{{ following_profile.profile_pic.url }}" alt="" />
                </div>
                <div class="flex justify-between w-full ml-2 items-center">
                  <h4 class="text-gray-800">{{ following_profile.user.username }}</h4>
                  <a href="/{{ following_profile.user.username }}/follow_user"><button class="hover:scale-110 duration-100 follow-button px-3 py-1 text-sm bg-blue-300 hover:bg-blue-400 text-white shadow-lg rounded-full" type="submit">Unfollow</button></a>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <h3 class="ml-5 mb-10 text-red-900 mt-2">You are not following anyone</h3>
          {% endif %}
        </div>

        <div class="users flex flex-col gap-3">
          <h1 class="text-teal-900 text-xl font-semibold">Suggested for you</h1>
          <div class="bg-white p-5 rounded-lg">
            {% for user in all_users %}
              {% if user.user != request.user %}
                {% if user not in following_profiles %}
                  <div class="w-full flex bg-purple-100 px-4 py-4 mb-4 rounded-md">
                    <div class="h-9 w-9 object-top rounded-full bg-blue-200 overflow-hidden">
                      <img class="rounded-full" src="{{ user.profile_pic.url }}" alt="" />
                    </div>
                    <div class="flex justify-between w-full ml-2 items-center">
                      <h4 class="text-gray-800">{{ user.user.username }}</h4>
                      <a href="/{{ user.user.username }}/follow_user">
                        <button class="hover:scale-110 duration-100 follow-button px-3 py-1 text-sm bg-purple-300 hover:bg-purple-400 text-white shadow-lg rounded-full" type="submit">
                          {% for following_profile in following_profiles %}
                            {% if user == following_profile %}Unfollow{% endif %}
                          {% endfor %}
                        </button>
                      </a>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </section>
    </main>
    {% block scripts %}
      <script src="{% static 'js/home.js' %}"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init({
          duration: 1000,
          offset: 120
        })
      </script>
    {% endblock %}
  </body>
</html>
