{% extends "home.html" %} 

{% block content %}

<form  action="">
    <input type="text" style="color:black" name="search" id="search">
    <button style="color:black" type="submit" >Search</button>
</form>

<div class="users">
    {% for user in all_users %}
    <div style='background: gray; margin: 20px;' class="user-card">
        <img width='100' src="{{user.profile_pic.url}}" alt="">
        <h4>{{user.user.username}}</h4>
        <a href="/{{user.user.username}}/follow_user">
            <button class='follow-button' type="submit">
                {% for following_profile in following_profiles %}
                    {% if user == following_profile %}
                    Unfollow 
                    {% endif %}
                {% endfor %}
            </button>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock content %}
